<!--<?xml version="1.0"?>
<config>
	  <tabs>
		<pushassisttab translate="label" module="pushassist">
            <label>PushAssist</label>
            <sort_order>250</sort_order>
        </pushassisttab>
	  </tabs>
	  <sections>
		<pushassistsection  translate="label" module="pushassist">                    
		<label>Settings</label>
		<tab>pushassisttab</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
		    <groups>
			<general translate="label"> 
			<label>General</label>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<fields>
                          <apikey translate="label">
                            <label>API Key</label>
			    <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </apikey>
                          <secretkey translate="label">
					    <label>Secret Key</label>
					    <frontend_type>text</frontend_type>
					    <sort_order>1</sort_order>
					    <show_in_default>1</show_in_default>
					    <show_in_website>1</show_in_website>
					    <show_in_store>1</show_in_store>
					            
					  </secretkey>
			</fields>
		    </general>
		  </groups>
		</pushassistsection>
	  </sections>
</config>-->
